{% extends 'dashboard/base.html' %}
{% block title %} Allocation Manager - Admin{% endblock %}
{% block body %}


        <!-- All Requests-->
        <div class="container">
            <div class="form-group">
            <h3>{{ userSubmittedDetails.title|capfirst }}</h3>
              <form action="" method="post">
                            {% csrf_token %}
                <select onchange="this.form.submit()" class="selectpicker" data-style="btn-primary" data-live-search="true" name="selectedReviewer">
                    <option>Select the assigned reviewer</option>
                    {% for reviewer in assignedReviewersList %}
                        <option value="{{reviewer.reviewerUsername}}" {% if reviewer.reviewerUsername == selectedReviewer %}selected="selected"{% endif %}>
                           {{reviewer.reviewerUsername|capfirst}}
                        </option>
                    {% endfor %}
                   </select>
              </form>
            </div>

            {% if reviewerReview and reviewerReview.projectId %}
            <table class="table table-hover table-bordered table-striped table-responsive">
                <thead class="thead-inverse">
                  <tr style="background-color: #337ab7;color:white">
                    <th>Request Fields</th>
                    <th>User Submitted</th>
                    <th>Reviewer Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Disk Usage Range Per Job</td>
                        <td>{{ userSubmittedDetails.diskUsageRangePerJob }}</td>
                        <td>{{ reviewerReview.diskUsageRangePerJob }}</td>
                    </tr>
                    <tr>
                        <td>Max Memory Per CPU</td>
                        <td>{{ userSubmittedDetails.maxMemoryPerCpu }}</td>
                        <td>{{ reviewerReview.maxMemoryPerCpu }}</td>
                    </tr>
                    <tr>
                        <td>Num CPUs Per Job</td>
                        <td>{{ userSubmittedDetails.numberOfCpuPerJob }}</td>
                        <td>{{ reviewerReview.numberOfCpuPerJob }}</td>
                    </tr>
                    <tr>
                        <td>Typical Service Units/Job</td>
                        <td>{{ userSubmittedDetails.typicalSuPerJob }}</td>
                        <td>{{ reviewerReview.typicalSuPerJob }}</td>
                    </tr>
                    {% for projectSpecificDetail in userSpecificDetailsList %}
                <tr>
                    <td>
                        Specific Resource {{forloop.counter}}
                        <br/>
                        <br/>
                         <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approve">Approve</button>
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reject">Reject</button>
                    </td>
                    <td>
                        <div>
                            <table>
	<tr>
		<td>
			<label class="control-label" for="application">Applications to be used</label>
		</td>
		<td>
			{#                                  <PLACEHOLDER options #}
                                            <select disabled id ="application" class="selectpicker" data-style="btn-primary" data-live-search="true" multiple>
                                                 <optgroup label="Web">
                                                    <option {% if "PHP" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>PHP</option>
                                                    <option {% if "CSS" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>CSS</option>
                                                    <option {% if "HTML" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>HTML</option>
                                                    <option {% if "Bootstrap" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>Bootstrap</option>
                                                </optgroup>
                                                <optgroup label="Programming">
                                                  <option {% if "Java" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>Java</option>
                                                  <option {% if "C#" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>C#</option>
                                                  <option {% if "Python" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>Python</option>
                                                </optgroup>
                                            </select>
            {#                                    <input type="text" class="form-control "placeholder="Other">#}
		</td>
	</tr>
                                <br/>
	<tr>
		<td>
			<label class="control-label">Total Allocation Requested</label>
		</td>
		<td>
			<input readonly type="text" class="form-control"
                                                   value="{{ projectSpecificDetail.requestedServiceUnits }}">
		</td>
	</tr>
                                  <br/>
	<tr>
		<td>
			<label class="control-label">Specific Resources</label>
		</td>
		<td>
			 <input readonly type="text" class="form-control"
                                                   value="{{ projectSpecificDetail.specificResource }}">
		</td>
	</tr>
                                  <br/>
	<tr>
		<td>
			<label class="control-label col-sm-2" for="resourceType">Resource Type</label>
		</td>
		<td>
			{#                                  <PLACEHOLDER options #}
                                        <select disabled id="resourceType" class="selectpicker" data-style="btn-primary" data-live-search="true">
                                          <option {% if projectSpecificDetail.resourceType == "On-Demand" %}selected {% endif %} >On-Demand</option>
                                          <option {% if projectSpecificDetail.resourceType == "Large Memory" %}selected {% endif %} >Large Memory</option>
                                          <option {% if projectSpecificDetail.resourceType == "GPUs" %}selected {% endif %} >GPUs</option>
                                         </select>
            {#                                    <input type="text" class="form-control "placeholder="Other">#}
		</td>
	</tr>

</table>
                        </div>
                        <!--<div>
                            <div class="form-group">
                                        <label class="control-label col-sm-2" for="application">Applications to be used</label>
                                        <div class="col-sm-10">
            {#                                  <PLACEHOLDER options #}
                                            <select disabled id ="application" class="selectpicker" data-style="btn-primary" data-live-search="true" multiple>
                                                 <optgroup label="Web">
                                                    <option {% if "PHP" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>PHP</option>
                                                    <option {% if "CSS" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>CSS</option>
                                                    <option {% if "HTML" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>HTML</option>
                                                    <option {% if "Bootstrap" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>Bootstrap</option>
                                                </optgroup>
                                                <optgroup label="Programming">
                                                  <option {% if "Java" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>Java</option>
                                                  <option {% if "C#" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>C#</option>
                                                  <option {% if "Python" in projectSpecificDetail.applicationsToBeUsed %}selected {% endif %}>Python</option>
                                                </optgroup>
                                            </select>
            {#                                    <input type="text" class="form-control "placeholder="Other">#}
                                        </div>
            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 app">Total Allocation Requested</label>
                                <div class="col-sm-10">
                                        <input readonly type="text" class="form-control"
                                               value="{{ projectSpecificDetail.requestedServiceUnits }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Specific Resources</label>
                                <div class="col-sm-10">
                                        <input readonly type="text" class="form-control"
                                               value="{{ projectSpecificDetail.specificResource }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="resourceType">Resource Type</label>
                                <div class="col-sm-10">
        {#                                  <PLACEHOLDER options #}
                                    <select disabled id="resourceType" class="selectpicker" data-style="btn-primary" data-live-search="true">
                                      <option {% if projectSpecificDetail.resourceType == "On-Demand" %}selected {% endif %} >On-Demand</option>
                                      <option {% if projectSpecificDetail.resourceType == "Large Memory" %}selected {% endif %} >Large Memory</option>
                                      <option {% if projectSpecificDetail.resourceType == "GPUs" %}selected {% endif %} >GPUs</option>
                                     </select>
        {#                                    <input type="text" class="form-control "placeholder="Other">#}
                                </div>
                           </div>
                        </div>-->
                    </td>
                    <td>
                        <div>
   <table>
      <tr>
         <td>
            <label class="control-label" for="application">Applications to be used</label>
         </td>
         <td>
            {#                                  <PLACEHOLDER options #}
            <select disabled id ="application" name="application{{forloop.counter}}" class="selectpicker" data-style="btn-primary" data-live-search="true" multiple>
               <optgroup label="Web">
                  {% load my_templatetag %}
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "PHP" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">PHP</option>
                  {%  else %}
                  <option >PHP</option>
                  {% endif %}
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "CSS" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">CSS</option>
                  {%  else %}
                  <option >CSS</option>
                  {% endif %}
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "HTML" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">HTML</option>
                  {%  else %}
                  <option >HTML</option>
                  {% endif %}
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "Bootstrap" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">Bootstrap</option>
                  {%  else %}
                  <option >Bootstrap</option>
                  {% endif %}
                      
               </optgroup>
                   
               <optgroup label="Programming">
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "Java" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">Java</option>
                  {%  else %}
                  <option >Java</option>
                  {% endif %}
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "C#" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">C#</option>
                  {%  else %}
                  <option >C#</option>
                  {% endif %}
                  {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "Python" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                  <option selected="selected">Python</option>
                  {%  else %}
                  <option >Python</option>
                  {% endif %}
                      
               </optgroup>
            </select>
            {#                                    <input type="text" class="form-control "placeholder="Other">#}
         </td>
      </tr>
         <br/>
      <tr>
         <td>
            <label class="control-label">Total Allocation Requested</label>
         </td>
         <td>
            {% load my_templatetag %}
            {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 %}
            <input readonly type="text" class="form-control" name="allocation"
               value="{{ reviewerSpecificDetailsList|index:forloop.counter0|getReviewedServiceUnits }}">
            {%  else %}
            <input readonly type="text" class="form-control" name="allocation"
               >
            {% endif %}
         </td>
      </tr>
         <br/>
      <tr>
         <td>
            <label class="control-label">Specific Resources</label>
         </td>
         <td>
            <input readonly type="text" name="specificResources" class="form-control"
               value="{{ projectSpecificDetail.specificResource }}">
         </td>
      </tr>
         <br/>
      <tr>
         <td>
            <label class="control-label" for="resourceType">Resource Type</label>
         </td>
         <td>
            {#                                  <PLACEHOLDER options #}
            <select disabled id="resourceType" name="resourceType" class="selectpicker" data-style="btn-primary" data-live-search="true">
               {% load my_templatetag %}
               {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and reviewerSpecificDetailsList|index:forloop.counter0|getResourceType == "Large Memory"%}
               <option selected="selected">Large Memory</option>
               {%  else %}
               <option >Large Memory</option>
               {% endif %}
               {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and reviewerSpecificDetailsList|index:forloop.counter0|getResourceType == "On-Demand"%}
               <option selected="selected">On-Demand</option>
               {%  else %}
               <option >On-Demand</option>
               {% endif %}
               {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and reviewerSpecificDetailsList|index:forloop.counter0|getResourceType == "GPUs"%}
               <option selected="selected">GPUs</option>
               {%  else %}
               <option >GPUs</option>
               {% endif %}
                
            </select>
            {#                                    <input type="text" class="form-control "placeholder="Other">#}
         </td>
      </tr>
         <br/>
      <tr>
         <td><label class="control-label">Additional Comments</label></td>
         <td>{% load my_templatetag %}
            {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 %}
            <input readonly type="text" class="form-control" name="comments"
               value="{{ reviewerSpecificDetailsList|index:forloop.counter0|getComments }}">
            {%  else %}
            <input readonly type="text" class="form-control" name="comments"
               >
            {% endif %}
         </td>
      </tr>
   </table>
</div>
                        <!--<div>
                            <div class="form-group">
                                        <label class="control-label col-sm-2" for="application">Applications to be used</label>
                                        <div class="col-sm-10">
            {#                                  <PLACEHOLDER options #}
                                            <select disabled id ="application" name="application{{forloop.counter}}" class="selectpicker" data-style="btn-primary" data-live-search="true" multiple>
                                                 <optgroup label="Web">
                                                     {% load my_templatetag %}
                                                    {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "PHP" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">PHP</option>
                                                        {%  else %}
                                                        <option >PHP</option>
                                                    {% endif %}
                                                     {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "CSS" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">CSS</option>
                                                        {%  else %}
                                                        <option >CSS</option>
                                                    {% endif %}
                                                     {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "HTML" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">HTML</option>
                                                        {%  else %}
                                                        <option >HTML</option>
                                                    {% endif %}
                                                     {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "Bootstrap" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">Bootstrap</option>
                                                        {%  else %}
                                                        <option >Bootstrap</option>
                                                    {% endif %}
                                                </optgroup>
                                                <optgroup label="Programming">
                                                    {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "Java" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">Java</option>
                                                        {%  else %}
                                                        <option >Java</option>
                                                    {% endif %}
                                                {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "C#" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">C#</option>
                                                        {%  else %}
                                                        <option >C#</option>
                                                    {% endif %}
                                                {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and "Python" in reviewerSpecificDetailsList|index:forloop.counter0|getApplicationsToBeUsed %}
                                                       <option selected="selected">Python</option>
                                                        {%  else %}
                                                        <option >Python</option>
                                                    {% endif %}
                                                </optgroup>
                                            </select>
            {#                                    <input type="text" class="form-control "placeholder="Other">#}
                                        </div>
            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 app">Total Allocation Requested</label>
                                <div class="col-sm-10">
                                    {% load my_templatetag %}
                                    {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 %}
                                        <input readonly type="text" class="form-control" name="allocation"
                                               value="{{ reviewerSpecificDetailsList|index:forloop.counter0|getReviewedServiceUnits }}">
                                    {%  else %}
                                        <input readonly type="text" class="form-control" name="allocation"
                                               >
                                    {% endif %}
                                </div>
                            </div>

                             <div class="form-group">
                                    <label class="control-label col-sm-2">Specific Resources</label>
                                    <div class="col-sm-10">
                                            <input readonly type="text" name="specificResources" class="form-control"
                                                   value="{{ projectSpecificDetail.specificResource }}">
                                    </div>
                                </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="resourceType">Resource Type</label>
                                <div class="col-sm-10">

        {#                                  <PLACEHOLDER options #}
                                    <select disabled id="resourceType" name="resourceType" class="selectpicker" data-style="btn-primary" data-live-search="true">
                                            {% load my_templatetag %}
                                            {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and reviewerSpecificDetailsList|index:forloop.counter0|getResourceType == "Large Memory"%}
                                               <option selected="selected">Large Memory</option>
                                                {%  else %}
                                                <option >Large Memory</option>
                                            {% endif %}
                                            {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and reviewerSpecificDetailsList|index:forloop.counter0|getResourceType == "On-Demand"%}
                                               <option selected="selected">On-Demand</option>
                                                {%  else %}
                                                <option >On-Demand</option>
                                            {% endif %}
                                            {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 and reviewerSpecificDetailsList|index:forloop.counter0|getResourceType == "GPUs"%}
                                               <option selected="selected">GPUs</option>
                                                {%  else %}
                                                <option >GPUs</option>
                                            {% endif %}
                                     </select>
        {#                                    <input type="text" class="form-control "placeholder="Other">#}
                                </div>
                           </div>
                                                <div class="form-group">
                                <label class="control-label col-sm-2">Additional Comments</label>
                                <div class="col-sm-10">
                                    {% load my_templatetag %}
                                    {% if reviewerSpecificDetailsList and reviewerSpecificDetailsList|index:forloop.counter0 %}
                                        <input readonly type="text" class="form-control" name="comments"
                                               value="{{ reviewerSpecificDetailsList|index:forloop.counter0|getComments }}">
                                    {%  else %}
                                        <input readonly type="text" class="form-control" name="comments"
                                               >
                                    {% endif %}
                                </div>
                            </div>
                        </div>-->
                    </td>

                </tr>
                {% endfor %}
                </tbody>
             </table>

            <!-- Modal -->
                  <div class="modal fade" id="approve" role="dialog">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                           <form action="" method="post">
                               {% csrf_token %}
                        <div class="modal-header">

                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Approve Request</h4>

                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                Specific Resource:
                                <input required type="text" name="specific-resource">
                          </div>
                          <div class="form-group">
                                Start Date :
                                <input required type="date" name="start" style="border: none;" >
                          </div>
                          <div class="form-group">
                                End Date :
                                <input required type="date" name="end" style="border: none;">
                          </div>
                          <div class="form-group">
                                Allocation Units:
                                <input required type="text" name="allocation-units">
                          </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" >Approve</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                           </form>
                      </div>
                    </div>
                  </div>

            <!-- Modal -->
                  <div class="modal fade" id="reject" role="dialog">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                           <form action="" method="post">
                                {% csrf_token %}
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Reject Request</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                Specific Resource:
                                <input required type="text" name="specific-resource">
                          </div>
                          <div class="form-group">
                                Reason :
                                <input required type="text" name="reject-reason" >
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" >Reject</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                           </form>
                      </div>
                    </div>
                  </div>
        </div>
            {% elif selectedReviewer == "" %}
                <h3 style="margin-left: 7%"><br/>Select assigned reviewer</h3><div></div>
            {%  else %}
                <h3 style="margin-left: 7%"><br/>Sorry, no review for this request has been submitted yet!</h3>
            {% endif %}
 {%  endblock %}