{% extends 'dashboard/base.html' %}
{% block title %}Create a New Request{% endblock %}
{% block request_active %}active{% endblock %}

{%  block body %}
<div class="container-fluid">
    <h2>New Request</h2>
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {# <p>Please provide</p>#}
                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" >Request Title</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="text" class="form-control" name="title" value="{{ projectDetails.title }}"required="true">
                                {%  else %}
                                    <input type="text" class="form-control" name="title" placeholder="Enter Request Title" required="true">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Request Description</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input name="description" type="text" class="form-control"
                                       value="{{ projectDetails.projectDescription }}" required="true">
                                {%  else %}
                                    <input name="description" type="text" class="form-control" placeholder="Enter Request Description" required="true">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="allocationType">Allocation Type</label>
                            <div class="col-sm-10">
                                <select required="true" id="allocationType" name="allocationType">
                                  <option value="">None</option>
                                  <option {% if projectDetails.typeOfAllocation == "community" %}selected {% endif %} value="community">Community</option>
                                  <option {% if projectDetails.typeOfAllocation == "campus" %}selected {% endif %} value="campus">Campus</option>
                                  <option {% if projectDetails.typeOfAllocation == "external" %}selected {% endif %} value="external">External</option>
                                </select>
                            </div>
                        </div>
                    <div class="form-group">
                                <label class="control-label col-sm-2" for="application">Applications to be used</label>
                                <div class="col-sm-10">
{#                                  <PLACEHOLDER options #}
                                    <select id ="application" name="application" class="selectpicker" data-style="btn-primary" data-live-search="true" multiple>
                                         <optgroup label="Web">
                                            <option {% if "PHP" in projectDetails.applicationsToBeUsed %}selected {% endif %}>PHP</option>
                                            <option {% if "CSS" in projectDetails.applicationsToBeUsed %}selected {% endif %}>CSS</option>
                                            <option {% if "HTML" in projectDetails.applicationsToBeUsed %}selected {% endif %}>HTML</option>
                                            <option {% if "Bootstrap" in projectDetails.applicationsToBeUsed %}selected {% endif %}>Bootstrap</option>
                                        </optgroup>
                                        <optgroup label="Programming">
                                          <option {% if "Java" in projectDetails.applicationsToBeUsed %}selected {% endif %}>Java</option>
                                          <option {% if "C#" in projectDetails.applicationsToBeUsed %}selected {% endif %}>C#</option>
                                          <option {% if "Python" in projectDetails.applicationsToBeUsed %}selected {% endif %}>Python</option>
                                        </optgroup>
                                    </select>
{#                                    <input type="text" class="form-control "placeholder="Other">#}
                                </div>
</div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Keywords</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input name="keywords" class="form-control" type="text" value="{{ projectDetails.keywords }}">
                                {%  else %}
                                    <input name="keywords" class="form-control" type="text" placeholder="Keywords">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Disk usage range per job</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="text" class="form-control" name="diskUsage" value="{{ projectDetails.diskUsageRangePerJob }}">
                                {%  else %}
                                    <input type="text" class="form-control" name="diskUsage" placeholder="Enter Disk Usage per Job">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Max Memory per CPU</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="number" min="0" class="form-control" name="memorycpu"
                                       value="{{ projectDetails.maxMemoryPerCpu }}">
                                {%  else %}
                                    <input type="number" min="0" class="form-control"  name="memorycpu" placeholder="Enter Max Memory per CPU">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Number of CPUs per job</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="number" min="0" class="form-control" name="cpuPerJob"
                                           value="{{ projectDetails.numberOfCpuPerJob}}">
                                {%  else %}
                                    <input type="number" min="0" class="form-control" name="cpuPerJob"
                                           placeholder="Enter Number of CPUs per job">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Typical SU per Job</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="number" min="0" class="form-control" name="typicalSu"
                                           value="{{ projectDetails.typicalSuPerJob}}">
                                {%  else %}
                                    <input type="number" min="0" class="form-control"  name="typicalSu"
                                           placeholder="Enter Typical SU per Job">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Total Allocation Requested</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="text" class="form-control" name="allocation"
                                           value="{{ projectDetails.serviceUnits }}">
                                {%  else %}
                                    <input type="text" class="form-control" name="allocation"
                                           placeholder="Enter Requested Allocation">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Specific Resources</label>
                            <div class="col-sm-10">
                                {% if projectDetails and projectDetails.projectId %}
                                    <input type="text" class="form-control" name="specificResources"
                                           value="{{ projectDetails.specificResourceSelection }}">
                                {%  else %}
                                    <input type="text" class="form-control" name="specificResources"
                                           placeholder="Enter Specific Resources">
                                {% endif %}
                            </div>
                        </div>
                         <div class="form-group">
                                <label class="control-label col-sm-2" for="resourceType">Resource Type</label>
                                <div class="col-sm-10">
{#                                  <PLACEHOLDER options #}
                                    <select id="resourceType" name="resourceType" class="selectpicker" data-style="btn-primary" data-live-search="true">
                                      <option {% if projectDetails.specificResourceSelection == "On-Demand" %}selected {% endif %} >On-Demand</option>
                                      <option {% if projectDetails.specificResourceSelection == "Large Memory" %}selected {% endif %} >Large Memory</option>
                                      <option {% if projectDetails.specificResourceSelection == "GPUs" %}selected {% endif %} >GPUs</option>
                                     </select>
{#                                    <input type="text" class="form-control "placeholder="Other">#}
                                </div>
</div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comments">Additional Comments</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="comments" class="comments"
                                       placeholder="Enter Additional Comments">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="uploadFile">Relevant Documents</label>
                            <div class="col-sm-10">
                                <input name="uploadFile" id="uploadFile" type="file" class="file" data-preview-file-type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                 {% if projectDetails.status is None %}
                                    <button type="submit" class="btn btn-success">Submit</button>
                                {%  else %}
                                     <button  {% ifnotequal projectDetails.status "PENDING" %}
                                disabled {% endifnotequal %} type="submit" class="btn btn-success">Submit</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}