{% extends 'dashboard/base.html' %}
{% block title %}Create a New Request{% endblock %}
{% block request_active %}active{% endblock %}

{%  block body %}
<div class="container-fluid">
    <h2>New Request</h2>
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {# <p>Please provide</p>#}
                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="title">Request Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Request Title" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="description">Request Description</label>
                            <div class="col-sm-10">
                                <input name="description" type="text" class="form-control" id="description"
                                       placeholder="Enter Request Description" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="allocationType">Allocation Type</label>
                            <div class="col-sm-10">
                                <select required="true" id="allocationType" name="allocationType">
                                  <option value="">None</option>
                                  <option value="community">Community</option>
                                  <option value="campus">Campus</option>
                                  <option value="external">External</option>
                                </select>
                            </div>
                        </div>
                    <div class="form-group">
                                <label class="control-label col-sm-2" for="application">Applications to be used</label>
                                <div class="col-sm-10">
{#                                  <PLACEHOLDER options #}
                                    <select id ="application" name="application" class="selectpicker" data-style="btn-primary" data-live-search="true" multiple>
                                         <optgroup label="Web">
                                            <option>PHP</option>
                                            <option>CSS</option>
                                            <option>HTML</option>
                                            <option>CSS 3</option>
                                            <option>Bootstrap</option>
                                            <option>JavaScript</option>
                                        </optgroup>
                                        <optgroup label="Programming">
                                          <option>Java</option>
                                          <option>C#</option>
                                          <option>Python</option>
                                        </optgroup>
                                    </select>
{#                                    <input type="text" class="form-control "placeholder="Other">#}
                                </div>
</div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="keywords">Keywords</label>
                            <div class="col-sm-10">
                                <input name="keywords" type="text" id="keywords" placeholder="Keywords">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="diskUsage">Disk usage range per job</label>
                            <div class="col-sm-10">
                                <input type="range" min="0" max="100" class="slider" id="diskUsage" name="diskUsage"
                                       placeholder="Enter Disk Usage per Job">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="memorycpu">Max Memory per CPU</label>
                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control" id="memorycpu" name="memorycpu"
                                       placeholder="Enter Max Memory per CPU">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="cpuPerJob">Number of CPUs per job</label>
                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control" id="cpuPerJob" name="cpuPerJob"
                                       placeholder="Enter Number of CPUs per job">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="typicalSu">Typical SU per Job</label>
                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control" id="typicalSu" name="typicalSu"
                                       placeholder="Enter Typical SU per Job">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="allocation">Total Allocation Requested</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="allocation" name="allocation"
                                       placeholder="Enter Requested Allocation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="specificResources">Specific Resources</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="specificResources" name="specificResources"
                                       placeholder="Enter Specific Resources">
                            </div>
                        </div>
                         <div class="form-group">
                                <label class="control-label col-sm-2" for="resourceType">Resource Type</label>
                                <div class="col-sm-10">
{#                                  <PLACEHOLDER options #}
                                    <select id="resourceType" name="resourceType" class="selectpicker" data-style="btn-primary" data-live-search="true">
                                      <option>On-Demand</option>
                                      <option>Large Memory</option>
                                      <option>GPUs</option>
                                     </select>
{#                                    <input type="text" class="form-control "placeholder="Other">#}
                                </div>
</div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comments">Additional Comments</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="comments" class="comments"
                                       placeholder="Enter Additional Comments">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="uploadFile">Relevant Documents</label>
                            <div class="col-sm-10">
                                <input name="uploadFile" id="uploadFile" type="file" class="file" data-preview-file-type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}