{% extends 'dashboard/base.html' %}
{% block title %} Allocation Manager - Reviewer{% endblock %}
{% block body %}
    {% if all_requests %}
        <h3 style="margin-left: 7%">Requests to Review</h3>
        <!-- All Requests-->
        <div class="container">
          <table class="table table-hover table-bordered table-striped table-responsive">
            <thead class="thead-inverse">
              <tr style="background-color: #337ab7;color:white">
                <th>Request Id</th>
                <th>Request Title</th>
              </tr>
            </thead>
            <tbody>
                {% for request in all_requests %}
                  <tr>
                    <td><a href="/resourceallocation/reviewer/request-view?projectId={{ request.projectId|urlencode }}&reviewerId={{ reviewerId|urlencode }}">{{ request.projectId }}</a></td>
                    <td>{{ request.title }}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

    {%  else %}
        <h3 style="margin-left: 7%"><br/>Sorry, currently there are no requests to review!</h3>
    {% endif %}
{%  endblock %}