{% load static %}

<html>
<head>
  <title>SimCCS Map</title>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="{% static 'js/jquery.min.js' %}"></script>

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>-->
  <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>


  <!--<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster_Default.css' %}" />

<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css">




  <!--<script src="{% static 'Data/Ordos_Basin_Source.json' %}"></script>-->




  <script>
    $(document).ready(function() {




    document.getElementById("search").disabled = true;
      map.addLayer(ordos_source_cluster);
      map.addLayer(france_source_cluster);


    $('input:radio').bind('click mousedown', (function() {
        var isChecked;
        return function(event) {
            if (event.type == 'click') {
                radio_button_id=this.id;
                if (isChecked) {
                    isChecked = this.checked = false;
                    switch(radio_button_id){
                        case "cost_surface":map.removeLayer(cost_surface_layer);
                                            break;
                        case "source_sink_chemical":map.removeLayer(chemicalClusters)
                              break;
                        case "source_sink_coal":map.removeLayer(coalClusters)
                              break;
                        case "source_sink_flourinated":map.removeLayer(flourinatedClusters)
                              break;
                        case "source_sink_industrial_gas":map.removeLayer(industrialGasClusters)
                              break;
                        case "source_sink_co2_injecton":map.removeLayer(co2InjectionClusters)
                              break;
                        case "source_sink_metals":map.removeLayer(metalClusters)
                              break;
                        case "source_sink_minerals":map.removeLayer(mineralClusters)
                              break;
                        case "source_sink_natural_gas":map.removeLayer(naturalGasClusters)
                              break;
                        case "source_sink_others":map.removeLayer(otherClusters)
                              break;
                        case "source_sink_petroleum":map.removeLayer(petroleumClusters)
                              break;
                        case "source_sink_petro_natural":map.removeLayer(petroleumNaturalGasClusters)
                              break;
                        case "source_sink_power_plants":map.removeLayer(powerPlantClusters)
                              break;
                        case "source_sink_pulp_paper":map.removeLayer(pulpClusters)
                              break;
                        case "source_sink_refineries":map.removeLayer(refineriesClusters)
                              break;
                        case "source_sink_co2_suppliers":map.removeLayer(co2SupplyClusters)
                              break;
                        case "source_sink_waste":map.removeLayer(wasteClusters)
                              break;
                        case "source_sink_pulp_paper":map.removeLayer(chemicalClusters)
                              break;




                        case "source_sink_all_the_above":
                        map.removeLayer(chemicalClusters);
                            map.removeLayer(coalClusters);
                            map.removeLayer(flourinatedClusters);
                            map.removeLayer(co2InjectionClusters);
                            map.removeLayer(metalClusters);
                            map.removeLayer(mineralClusters);
                            map.removeLayer(naturalGasClusters);
                            map.removeLayer(otherClusters);
                            map.removeLayer(petroleumClusters);
                            map.removeLayer(petroleumNaturalGasClusters);
                            map.removeLayer(powerPlantClusters);
                            map.removeLayer(pulpClusters);
                            map.removeLayer(refineriesClusters);
                            map.removeLayer(co2SupplyClusters);
                            map.removeLayer(wasteClusters);


                              break;

                        case "candidate_network":
                                                map.removeLayer(ut_candidate_network);
                                                map.removeLayer(albert_candidate_network);
                                                map.removeLayer(illinios_candidate_network);
                                                // map.removeLayer(ne_cadidate_network);
                                                map.removeLayer(ordos_candidate_network);
                                                map.removeLayer(se_candidate_network);

                                                // map.remove(ne_cadidate_network);
                        break;

                        //
                        case "sink_coal_reservoirs":map.removeLayer(sink_coal_layer);
                        break;
                        case "sink_saline_formation":map.removeLayer(sink_saline_layer);
                        break;
                        case "sink_oil_reservoir":map.removeLayer(sink_oil_layer);
                        break;
                        case "ordos_sink":map.removeLayer(sink_ordos_layer);
                        break;
                         case "france_sink":map.removeLayer(france_sink_cluster);
                        break;








                    }



                } else {
                    isChecked = true;
                    switch(radio_button_id){
                        case "cost_surface":cost_surface_layer.addTo(map);
                                            break;
                        case "source_sink_chemical":map.addLayer(chemicalClusters);
                              break;
                        case "source_sink_coal":map.addLayer(coalClusters);
                              break;
                        case "source_sink_flourinated":map.addLayer(flourinatedClusters);
                              break;
                        case "source_sink_industrial_gas":map.addLayer(industrialGasClusters);
                              break;
                        case "source_sink_co2_injecton":map.addLayer(co2InjectionClusters);
                              break;
                        case "source_sink_metals":map.addLayer(metalClusters);
                              break;
                        case "source_sink_minerals":map.addLayer(mineralClusters);
                              break;
                        case "source_sink_natural_gas":map.addLayer(naturalGasClusters);
                              break;
                        case "source_sink_others":map.addLayer(otherClusters);
                              break;
                        case "source_sink_petroleum":map.addLayer(petroleumClusters);
                              break;
                        case "source_sink_petro_natural":map.addLayer(petroleumNaturalGasClusters);
                              break;
                        case "source_sink_power_plants":map.addLayer(powerPlantClusters);
                              break;
                        case "source_sink_pulp_paper":map.addLayer(pulpClusters);
                              break;
                        case "source_sink_refineries":map.addLayer(refineriesClusters);
                              break;
                        case "source_sink_co2_suppliers":map.addLayer(co2SupplyClusters);
                              break;

                        case "source_sink_waste":map.addLayer(wasteClusters);
                              break;



                        case "source_sink_all_the_above":
                        map.addLayer(chemicalClusters);
                            map.addLayer(coalClusters);
                            map.addLayer(flourinatedClusters);
                            map.addLayer(co2InjectionClusters);
                            map.addLayer(metalClusters);
                            map.addLayer(mineralClusters);
                            map.addLayer(naturalGasClusters);
                            map.addLayer(otherClusters);
                            map.addLayer(petroleumClusters);
                            map.addLayer(petroleumNaturalGasClusters);
                            map.addLayer(powerPlantClusters);
                            map.addLayer(pulpClusters);
                            map.addLayer(refineriesClusters);
                            map.addLayer(co2SupplyClusters);
                            map.addLayer(wasteClusters);
                            // map.addLayer(ordos_source_cluster);
                            // map.addLayer(france_source_cluster);


                              break;


                        case "candidate_network":
                        //
                        // map.addLayer(albert_candidate_network);
                        // map.addLayer(illinios_candidate_network);
                        // map.addLayer(ne_cadidate_network);
                        // map.addLayer(ordos_candidate_network);
                        //
                            //se_candidate_network.addTo(map);
                            //ut_candidate_network.addTo(map);
                            //albert_candidate_network.addTo(map);
                            //illinios_candidate_network.addTo(map);
                            // // ne_cadidate_network.addTo(map);
                            //ordos_candidate_network.addTo(map);
                            // ne_cadidate_network.addTo(map);
                        break;

                        case "sink_coal_reservoirs":map.addLayer(sink_coal_layer);
                        break;

                        case "sink_saline_formation":map.addLayer(sink_saline_layer);
                        break;
                        case "sink_oil_reservoir":map.addLayer(sink_oil_layer);
                        break;
                        case "ordos_sink":map.addLayer(sink_ordos_layer);
                        break;
                        case "france_sink":map.addLayer(france_sink_cluster);
                        break;
                    }
                }
            } else {
                isChecked = this.checked;
            }
        }
    })());

});

var geojsonMarkerOptions = {
  radius: 8,
  fillColor: "blue",
  color: "#000",
  weight: 1,
  opacity: 1,
  fillOpacity: 0.7,
  pane: "pointsPane"
};

var selection=[];
var sinkselection=[];
var sinkselection2=[];
function sourceOnEachFeature(feature, layer) {
    //bind click
    layer.on('click', function (e) {
      var target_id = selection.indexOf(e.target)
      if (target_id >=0 ) {e.target.setStyle(geojsonMarkerOptions);selection.splice(target_id,1);}
      else {e.target.setStyle({weight:2,color:"white",fillColor:"purple",radius:12});
            selection.push(e.target);}
    })};

function sinkOnEachFeature(feature, layer) {
    //bind click
    layer.bindTooltip("<strong>CO2_Low(t):"+feature.properties.CO2_Low__t.toString()+"<strong>");
    layer.on('click', function (e) {
      var target_id = sinkselection.indexOf(e.target)
      if (target_id >=0 ) {e.target.setStyle({weight:1,color:'grey',fillOpacity:0.4});sinkselection.splice(target_id,1);}
      else {e.target.setStyle({weight:2,color:"white",fillOpacity:0.7});
            sinkselection.push(e.target);}
    })};

function sinkOnEachFeature2(feature, layer) {
    //bind click
    layer.bindTooltip("<strong>CO2_Low(t):"+feature.properties.VOL_LOW.toString()+"<strong>");
    layer.on('click', function (e) {
      var target_id = sinkselection2.indexOf(e.target)
      if (target_id >=0 ) {e.target.setStyle({weight:1,color:'grey',fillOpacity:0.4});sinkselection2.splice(target_id,1);}
      else {e.target.setStyle({weight:2,color:"white",fillOpacity:0.7});
            sinkselection2.push(e.target);}
    })};

var sourceLayer = new L.geoJSON('', {
  pointToLayer: function (feature, latlng) {
      var content_str="<strong>"+feature.id+"<br>"+feature.properties.Facility_N +'<br>CO2 emission:'+feature.properties.CO2_Emissi+"</strong>";
      //var mypopup = L.popup().setContent(content_str);
      var mymarker = L.circleMarker(latlng, geojsonMarkerOptions);
      //mymarker.bindPopup(mypopup);
      mymarker.bindTooltip(content_str);
      return mymarker;       
  },
  //pane: "pointsPane",
  onEachFeature: sourceOnEachFeature
});

var sinkLayer = new L.geoJSON('',{style: function(feature){
      var co2 = feature.properties.CO2_Low__t;
      var fillcolor = ''; 
      if (co2 >= 1 && co2 < 5e+06) {fillcolor = '#f50000';} 
      else if (co2 >=5e+06 && co2 < 5e+07) {fillcolor ='#fdff00'}
      else {fillcolor = '#00f905'}
      return {'color':'grey','weight':1,'fillColor':fillcolor,'fillOpacity': 0.3,pane: "polygonsPane"};
    },

    onEachFeature: sinkOnEachFeature
    })

var sinkLayer2 = new L.geoJSON('',{style: function(feature){
      var co2 = feature.properties.VOL_LOW;
      var fillcolor = ''; 
      if (co2 >= 1 && co2 < 5e+06) {fillcolor = '#f50000';} 
      else if (co2 >=5e+06 && co2 < 5e+07) {fillcolor ='#fdff00'}
      else {fillcolor = '#00f905'}
      return {'color':'grey','weight':1,'fillColor':fillcolor,'fillOpacity': 0.3,pane: "polygonsPane"};
    },

    onEachFeature: sinkOnEachFeature2
    })
      function loadjson(data) {
            sourceLayer.addData(data);
            sourceLayer.addTo(map);
            layercontrol.addOverlay(sourceLayer,"Sources");
      }

      function loadsinklayer(data) {
            sinkLayer.addData(data);
            sinkLayer.addTo(map);
            layercontrol.addOverlay(sinkLayer,"Sinks:Salines");
            //sinkLayer.bringToBack();
      }
      
      function loadsinklayer2(data) {
            sinkLayer2.addData(data);
            sinkLayer2.addTo(map);
            layercontrol.addOverlay(sinkLayer2,"Sinks:Oil/Gas");
            //sinkLayer.bringToBack();
      }

      function show_drawingtool(){
            //remove layer control
            map.eachLayer(function (layer) {
                  layercontrol.removeLayer(layer);
            });

            map.removeControl(layercontrol);

            // Initialise the FeatureGroup to store editable layers
            var editableLayers = new L.FeatureGroup();
            map.addLayer(editableLayers);

            var drawPluginOptions = {
            position: 'topright',
            draw: {
            polygon: {
                  allowIntersection: false, // Restricts shapes to simple polygons
                  drawError: {
                  color: '#e1e100', // Color the shape will turn when intersects
                  message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                  },
                  shapeOptions: {
                  color: '#97009c'
                  }
            },
            // disable toolbar item by setting it to false
            polyline: false,
            circle: true, // Turns off this drawing tool
            rectangle: true,
            marker: false,
            },
            edit: {
            featureGroup: editableLayers, //REQUIRED!!
            remove: false
            }};
            // Initialise the draw control and pass it the FeatureGroup of editable layers
            var drawControl = new L.Control.Draw(drawPluginOptions);
            map.addControl(drawControl);
            //alert("Use drawing tool to setup a working area!");


            var editableLayers = new L.FeatureGroup();
            map.addLayer(editableLayers);

            map.on('draw:created', function(e) {
            var type = e.layerType,
            layer = e.layer;
            editableLayers.addLayer(layer);
            var geom = layer.toGeoJSON()['geometry']['coordinates'];
            //alert(JSON.stringify(geom));
            var coordstr=[];
            for (i = 0, len = geom[0].length; i < len; i++) {
            coordstr[i]= (geom[0][i].toString()).replace(',',' ');} 
            //alert(coordstr.join(','));
            var geourl='http://172.16.104.138:8080/geoserver/SimCCS/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=SimCCS:Source_Power_Plants,SimCSS:Source_Petroleum_and_Natural_Gas_Systems,SimCSS:Source_Other,SimCSS:Source_Pulp_and_Paper,SimCSS:Source_Metals&maxFeatures=500&outputFormat=text%2Fjavascript&format_options=callback:loadjson';
            var cqlfilter = '&cql_filter=Intersects(the_geom,Polygon((';
            cqlfilter += coordstr.join(',');
            cqlfilter += ')))';
            if (type == 'circle'){
                  cqlfilter = '&cql_filter=DWithin(the_geom,Point(';
                  cqlfilter += geom[0].toString() + ' '+geom[1].toString()+'),';
                  var latitude = geom[1];
                  var radius = 0.90 * layer.getRadius()/(111.32 * 1000 * Math.cos(latitude * (3.1415926 / 180)));
                  cqlfilter += radius.toString() + ',kilometers)';
            }
            geourl += cqlfilter;
            //alert(geourl);
            //get source layer
            $.ajax({
                  url: geourl,
                  jsonp: "callback",
                  dataType: "jsonp"
            });
            //get sink layer
            var sinkurl='http://gf8.ucs.indiana.edu/geoserver/SimCCS/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=SimCCS:NATCARB_SALINE&maxFeatures=1000&outputFormat=text%2Fjavascript&format_options=callback:loadsinklayer';
            sinkurl += cqlfilter;
            $.ajax({
                  url: sinkurl,
                  jsonp: "callback",
                  dataType: "jsonp"
            });
            var sinkurl2='http://gf8.ucs.indiana.edu/geoserver/SimCCS/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=SimCCS:NATCARB_OG&maxFeatures=1000&outputFormat=text%2Fjavascript&format_options=callback:loadsinklayer2';
            sinkurl2 += cqlfilter;
            $.ajax({
                  url: sinkurl2,
                  jsonp: "callback",
                  dataType: "jsonp"
            });
            layer.remove();
            //layer.setStyle({'color':'grey','fillOpacity': 0.0});
            map.removeControl(drawControl);
            layercontrol.addTo(map);

            });


      };
  </script>
  <!--<link rel="stylesheet" href="{% static 'css/mapTool.css' %}" type="text/css" />-->
  <style type="text/css">
    #map{
      /*margin-left: 20px;*/
      /*margin-top: 60px;*/

        /*margin-top: 60px;*/
      width:99%;
        height:85% ;


    }

  </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="//beta.simccs.org">SimCCS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" id="search" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="row" style="margin-top: 5%;margin-left: 1%">
    <div class="col-md-3">

    <div class="container-fluid">

        <!--<div class="col-md-3  sidebar">-->
          <div class="sidebar">
          <ul class="nav nav-sidebar">

              <div class="panel-group">
              <!--<div class="panel panel-info">-->

                 <div class="panel panel-info">
                     <div class="panel-heading">
                         <h3 class="panel-title"><strong>Source</strong></h3>
                     </div>
                    <div class="panel-body">
                      <!--<label style="font-size: 12px;">Source</label>-->
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_chemical">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_chemical">Chemical</label>
                          <input class="form-check-input" type="radio" id="source_sink_coal">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_coal">Coal</label>

                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_flourinated">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_flourinated">Flourinated GHCs</label>
                          <input class="form-check-input" type="radio" id="source_sink_industrial_gas">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_industrial_gas">Industrial Gas</label>

                        </div>

                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_co2_injecton">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_co2_injecton">Co2 Injection</label>
                          <input class="form-check-input" type="radio" id="source_sink_metals">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_metals">Metals</label>

                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_minerals">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_minerals">Minerals</label>
                          <input class="form-check-input" type="radio" id="source_sink_natural_gas">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_natural_gas">Natural Gas</label>

                      </div>

                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_others">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_others">Others</label>
                          <input class="form-check-input" type="radio" id="source_sink_petroleum">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_petroleum">Petroleum Products</label>

                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_petro_natural">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_petro_natural">Petroleum & Natural Gas</label>
                          <input class="form-check-input" type="radio" id="source_sink_power_plants">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_power_plants">Power Plants</label>

                      </div>

                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_pulp_paper">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_pulp_paper">Pulp/Paper</label>
                          <input class="form-check-input" type="radio" id="source_sink_refineries">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_refineries">Refineries</label>

                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_co2_suppliers">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_co2_suppliers">Co2 Suppliers</label>
                          <input class="form-check-input" type="radio" id="source_sink_waste">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_waste">Waste</label>

                      </div>




                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="source_sink_all_the_above">
                          <label style="font-size: 100%;" class="form-check-label" for="source_sink_all_the_above">All the above</label>
                      </div>

                    </div>
                     <div class="panel-footer"/>
                 </div>


                  <div class="panel panel-info">
                     <div class="panel-heading">
                         <h3 class="panel-title"><strong>Sink</strong></h3>
                     </div>


                      <div class="panel-body">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sink_saline_formation">
                          <label style="font-size: 100%;" class="form-check-label" for="sink_saline_formation">Saline Formation</label>
                        </div>

                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sink_oil_reservoir">
                          <label style="font-size: 100%;" class="form-check-label" for="sink_oil_reservoir">Oil/Gas Reservoir</label>
                        </div>

                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sink_coal_reservoirs">
                          <label style="font-size: 100%;" class="form-check-label" for="sink_coal_reservoirs">Unconventional Coal reservoirs</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="ordos_sink">
                          <label style="font-size: 100%;" class="form-check-label" for="ordos_sink">Ordos Sink</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="france_sink">
                          <label style="font-size: 100%;" class="form-check-label" for="france_sink">France Sink</label>
                        </div>

                      </div>
                      <button type="button" class="btn btn-primary btn-sm btn-block" onclick="show_drawingtool()">Set up working area</button>

                      <div class="panel-footer"/>

                  </div>


                  <div class="panel panel-info">
                     <div class="panel-heading">
                         <h3 class="panel-title"><strong>Network</strong></h3>
                     </div>
                      <div class="panel-body">
                          <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="cost_surface">
                          <label style="font-size: 100%" class="form-check-label" for="cost_surface">Cost Surface</label>
                          </div>

                          <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="candidate_network">
                          <label style="font-size: 100%" class="form-check-label" for="candidate_network">Candidate Networks</label>
                          </div>
                      </div>
                      <div class="panel-footer"/>


                    </div>


                    <!--</div>-->

              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
        <div class="col-md-9">
          <div id="map"></div>
          <script src="{% static 'js/leafletMap.js' %}" ></script>
        </div>
      </div>

    </div>
</div>


</body>